ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .pad{
      margin-top: 100px;
  }

  .page-footer a{
    text-decoration: none;
    color: green;
}

.social{
  display: inline-flex;
  gap: 15px;
}
.hover:hover{
  color: white;
}


.fa-instagram {
  color: RGB( 138, 58, 185);
}

.fa-envelope {
  color:rgb(218, 25, 25);
}

li a:hover ::before{
  color: green;
}

.card-body img{
  width: 100%;
  height: 250px;
}
.mar{
  margin-top: 30px;
}

/* .bgg{
  background-image: url(./ourservice/contact-bg.jpg);
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translate(24px, 13px);
    background-color: rgba(0, 0, 0, 0.65);
} */
